<a href="https://colab.research.google.com/github/CarlosHisoka/projeto-bd-colab/blob/main/Projeto_BD_SQLite_ipynb_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# PROJETO BD SQLite
# Bibliotecas e conexão com o banco
import sqlite3

# Conecta ao BD (em memória)
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Ativa chaves estrangeiras
cursor.execute("PRAGMA foreign_keys = ON;")

In [7]:
# Criação das tabelas
cursor.execute("""
    CREATE TABLE IF NOT EXISTS Pessoas (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        nome TEXT NOT NULL,
        idade INTEGER
    );
""")

cursor.execute("""
    CREATE TABLE IF NOT EXISTS Produtos (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        descricao TEXT NOT NULL,
        preco REAL,
        estoque INTEGER
    );
""")

cursor.execute("""
    CREATE TABLE IF NOT EXISTS Vendas (
        id_venda INTEGER PRIMARY KEY AUTOINCREMENT,
        id_pessoa INTEGER,
        id_produto INTEGER,
        quantidade INTEGER,
        FOREIGN KEY (id_pessoa) REFERENCES Pessoas(id),
        FOREIGN KEY (id_produto) REFERENCES Produtos(id)
    );
""")

# Salva as alterações
conn.commit()
print("Tabelas criadas com sucesso!")

Tabelas criadas com sucesso!

In [8]:
# Inserção de dados
# Pessoas
cursor.execute("INSERT INTO Pessoas (nome, idade) VALUES ('Maria', 30);")
cursor.execute("INSERT INTO Pessoas (nome, idade) VALUES ('João', 25);")
cursor.execute("INSERT INTO Pessoas (nome, idade) VALUES ('Ana', 40);")

# Produtos
cursor.execute("INSERT INTO Produtos (descricao, preco, estoque) VALUES ('Caneta', 1.50, 100);")
cursor.execute("INSERT INTO Produtos (descricao, preco, estoque) VALUES ('Caderno', 6.50, 50);")

# Vendas
cursor.execute("INSERT INTO Vendas (id_pessoa, id_produto, quantidade) VALUES (1, 1, 10);")  # Maria comprou 10 canetas
cursor.execute("INSERT INTO Vendas (id_pessoa, id_produto, quantidade) VALUES (2, 2, 2);")   # João comprou 2 cadernos

# Salva as alterações
conn.commit()
print("Dados inseridos com sucesso!")

Dados inseridos com sucesso!

In [9]:
# Consulta JOIN para mostrar vendas com detalhes
cursor.execute("""
    SELECT
        Vendas.id_venda,
        Pessoas.nome AS cliente,
        Produtos.descricao AS produto,
        Vendas.quantidade,
        (Produtos.preco * Vendas.quantidade) AS total
    FROM Vendas
    JOIN Pessoas ON Vendas.id_pessoa = Pessoas.id
    JOIN Produtos ON Vendas.id_produto = Produtos.id;
""")

# Exibe os resultados
print("\nRelatório de Vendas:")
for row in cursor.fetchall():
    print(row)

Relatório de Vendas:
(1, 'Maria', 'Caneta', 10, 15.0)
(2, 'João', 'Caderno', 2, 13.0)